.button, .input  {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 4px;
  outline: none;
  border: 2px solid transparent;
  color: #594E40;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: #A69D81;
  border-radius: 2px;
  transition: all 0.15s;
}

.input {
  width: 150px;
  background-color: #e0e0dc;
  border: 4px solid #A69D81;
}

.button:hover,
.button:focus {
  border: 2px solid rgb(51, 51, 51);
}

.button:active {
  background-color: #f2e5d5;
}

.button:disabled {
  background-color: #8c8c8c;
  color: #ffffff;
  border: 0;
}
